
<%- include('header')%>


<div class="content box">
    <div class="article box">
        <div class="img"></div>
        <div class="text box">
            <a href="/corporate">Article corporate</a>
        </div>
    </div>
    <div class="article box">
        <div class="img"></div>
        <div class="text box">
            <a href="/batman"><%= artOne %></a>
            <p><%= artOneDate %></p>
        </div>
    </div>
</div>

<div class="content box">
    <div class="article box">
        <div class="img"></div>
        <div class="text box">
            <a href="/deloren">Article deloren</a>
        </div>
    </div>
    <div class="article box">
        <div class="img"></div>
        <div class="text box">
            <a href="/lorem">Article lorem</a>
        </div>
    </div>
</div>
<%- include('footer')%>
