<!doctype html>
<html lang="is">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lora" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>


    <div class="Imgheader">
      <h1 class='whiteText'><%= title %></h1>
    </div>
  

  <body>
