* {
  margin: 0;
  padding: 0;
}

.articleText{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

body{
  background-color: #eee;
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #333;
  line-height: 30px;
}

p{
  text-align: center;
  font-family: Lora;
}


h1{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
}

.error{
  width: 100%;
  padding: 50px;
}

h2{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}

h3{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

html {
  box-sizing: border-box;
}


.box{
  width: 40%;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}


.content{
  display: flex;
  width: 100%;
  height: 250px;
  align-items: center;
  justify-content: space-around;

}

.Imgheader {
  background-image:url('header.jpg');
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.whiteText{
  color: #eee;
}

.article img{
  height: 80%;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.text{
  width: 100%;
  height: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.articleTextBox{
  width: 50%;
  
}

.img{
  width: 100%;
  height: 80%;
}

.seperater{
  display: flex;
  width: 100%;
  height: 20px;
}

.img img{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


img{
  width: 50%;
}

@media only screen and 
  (max-width: 700px){

    p{
      font-size: 8px;
    }

    .error{
      width: 50%;
    }

    h1{
      width: 50%;
      font-size: 20px;
    }
    .content{
      width: 50%;
      flex-direction: column;
      height: 300px;
    }
    .seperater{
      width: 50%;
    }

    body{
      display: flex;
      flex-direction: column;
    }
    
    .article{
      height: 40%;
      width: 75%;
    }
    div.Imgheader {
      width: 50%;
      height: 100px;
    }
    .articleText{
      width: 50%;
    }
}

@media only screen and 
  (min-width: 1200px){
    .content{
      width: 100%;
      height: 600px;
    }
    div.Imgheader {
      height: 500px;
    }


}

a {
  color: inherit;
  text-decoration: inherit;
}

